{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}
{% block myCarousel %}
{% include "myCarousel.html.twig" %}
{% endblock %}
{% block body %}
<!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="{{ asset('imagesCarousel/Sac à dos_aventurier.jpg') }}" alt="Description de l'image" class="bd-placeholder-img rounded-circle" width="200" height="200">
        <h2 class="fw-normal">Champêtre</h2>
        <p>Nos sacs champêtres allient simplicité et élégance pour accompagner vos journées en plein air.</p>
        <p><a class="btn btn-secondary" href="#">Voir Détail &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="{{ asset('imagesCarousel/Luxe1.jpg') }}" alt="Description de l'image" class="bd-placeholder-img rounded-circle" width="200" height="200">
        <h2 class="fw-normal">Luxe</h2>
        <p>Découvrez l'élégance intemporelle de nos sacs de luxe, conçus pour sublimer chaque instant.</p>
        <p><a class="btn btn-secondary" href="#">Voir Détail &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="{{ asset('imagesCarousel/vintage1.jpg') }}" alt="Description de l'image" class="bd-placeholder-img rounded-circle" width="200" height="200">
        <h2 class="fw-normal">Vintage</h2>
        <p>Retrouvez le charme du passé avec nos sacs vintage, empreints d'histoire et d'élégance rétro.</p>
        <p><a class="btn btn-secondary" href="#">Voir Détail &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Le sac printemps automne <br> <span class="text-body-secondary"> Luxe </span></h2>
        <p class="lead">Éblouissante dans sa robe de soirée, elle porte avec grâce un sac en cuir italien, symbole de raffinement et d'élégance intemporelle.</p>
      </div>
      <div class="col-md-5">
       <img src="{{ asset('imagesCarousel/Luxe.jpg') }}"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Description de l'image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Le sac printemps automne <span class="text-body-secondary"> Vintage </span></h2>
        <p class="lead"> La travailleuse moderne se tourne vers un sac vintage en cuir patiné, évoquant une époque révolue, ajoutant une touche de nostalgie à son style professionnel tout en affirmant son unicité.</p>
      </div>
      <div class="col-md-5 order-md-1">


       <img src="{{ asset('imagesCarousel/modern-businesswoman.jpg') }}"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Description de l'image">
        
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Le sac printemps automne <span class="text-body-secondary"> Champêtre </span></h2>
        <p class="lead">Ce sac pour femme champêtre, épuré et sans motifs, capture l’essence de la nature avec son design minimaliste, idéal pour une escapade à la campagne ou une promenade en ville.</p>
      </div>
      <div class="col-md-5">


        <img src="{{ asset('imagesCarousel/Vintage.jpg') }}"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Description de l'image">

      
      </div>
    </div>

    <hr class="featurette-divider">

{% endblock %}
